body {
  background: rgb(99, 99, 185);  
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: black;
  
}


header {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    width: 300px;
    height: 50px;
    background: green;
}
h1 {
  background: red;
}
#block1 {
    color: red;
    width: 300px;
    height: 400px;
    background: black; 
} 

#block2 {
    float: left;
    padding: 10px;
    margin-top: 15px;
    margin-right: 10px;
   width: 300px;
   height: 200px;
   background: purple; 

}

#block3 {
       
   width: 200px;
    height: 100px;
        background: greenyellow;
}
 
#block4 {
padding: 20px;
    width: 50px;
    height: 60px;
    background: orangered;
}

#gamebuttons {
 
    width: 500;
    Height: 100px;

}
.box {
    width: 120px;
    height: 100px;
    margin: 0 10px 0 10px;
    float: left;
   
    
}

.cImage {
  width: 500px;
  margin: 0 10px 0 10px;
}

#purple1 {
    width: 120px;
    height: 100px;
    

    
}

#blue2 {
    width: 120px;
    height: 100px;
    
}

#green3 {
    width: 120px;
    height: 100px;
    
}

#yellow4 {
    width: 120px;
    height: 100px;
}

#Total {
  width: 150px;
  height: 50px;
  background: olivedrab;
}




@media screen and (max-width: 980px) {
    body {
      background-color: gray;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
 
  @media screen and (max-width: 320px) {
    body {
      background-color: rgb(65, 56, 56);
    }
  
    .wrapper {
     
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  

  @media screen and (max-width: 168px) {
    body {
      background-color: rgb(78, 62, 62);
    }
  
    .wrapper {
    
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  